{
  "openapi": "3.1.0",
  "info": {
    "title": "Zapier AI Actions MCP Workspace Bridge",
    "description": "Nervous System routing API for M.A.R.C. to autonomously append session states directly to the ENCORE Mastermind Log.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://actions.zapier.com/api/v1"
    }
  ],
  "paths": {
    "/exposed/": {
      "get": {
        "summary": "List Available AI Actions",
        "operationId": "listExposedActions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/exposed/{action_id}/execute/": {
      "post": {
        "summary": "Execute Append Mastermind Action",
        "operationId": "executeAction",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instructions"],
                "properties": {
                  "instructions": {
                    "type": "string",
                    "description": "The plaintext session text block containing achievements, active architectural states, and code updates to be appended."
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "automated_sync": {
                        "type": "boolean",
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log appended successfully."
          }
        }
      }
    }
  }
}
